<head>
    {% comment %}
    Google analytics
    {% endcomment %}
    <meta charset="utf-8">

    {% comment %}
    Makes Bootstrap happy
    {% endcomment %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    {% comment %}
    And here we see bootstrap and its buddies. Uses cerulean from bootswatch.
    {% endcomment %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cerulean/bootstrap.min.css"
        integrity="sha384-3fdgwJw17Bi87e1QQ4fsLn4rUFqWw//KU0g8TvV6quvahISRewev6/EocKNuJmEw" crossorigin="anonymous">
    <link href="{{ site.url }}/res/css/pygments.css" rel="stylesheet">
    <link href="{{ site.url }}/res/css/video.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>

    {% comment %}
    Podlove player
    {% endcomment %}
    <script src="https://cdn.podlove.org/web-player/5.x/embed.js"></script>


    {% comment %}
    ----------------------------------------------------------------------------
    Everything else
    ----------------------------------------------------------------------------
    {% endcomment %}
    
    {% comment %}
    Favicon. Ugh.
    {% endcomment %}
    <link rel="icon" type="image/svg+xml" href="{{ site.url }}/favicon.svg"                               />
    <link rel="icon" type="image/png"     href="{{ site.url }}/favicon-32x32.png"         sizes="32x32"   />
    <link rel="icon"                      href="{{ site.url }}/favicon-192x192.png"       sizes="192x192" />
    <link rel="apple-touch-icon"          href="{{ site.url }}/favicon-180x180.png"                       />
    <meta name="msapplication-TileImage"  content="{{ site.url }}/favicon-270x270.png"                    />
    <link rel="icon" type="image/png"     href="{{ site.url }}/favicon-16x16.png"         sizes="16x16"   />
    <link rel="icon" type="image/png"     href="{{ site.url }}/favicon-32x32.png"         sizes="32x32"   />
    <link rel="icon" type="image/png"     href="{{ site.url }}/favicon-96x96.png"         sizes="96x96"   />

    {% comment %}
    Title for page
    {% endcomment %}
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
</head>