<header style="margin-bottom:30px;">
    {% comment %}
    header logo
    {% endcomment %}
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <img src="{{ site.url }}/res/img/headerlogosmaller.png" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>

    {% comment %}
    Navbar
    {% endcomment %}
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-md navbar-dark bg-primary">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-expand-target"
                    aria-controls="navbar-expand-target" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-expand-target">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{site.url}}">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Episodes</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ site.url }}/episode-list/all">All Episodes</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>